@use '../_mixins' as mixins;

// Common button styles
.stasharr-button,
.stasharr-card-button {
  border: none;
  border-radius: 5px;
  padding: 10px;

  // Variants for button states
  &-add {
    @include mixins.button-variant(
      --stasharr-color-pink,
      --stasharr-color-white
    );
  }

  &-excluded {
    @include mixins.button-variant(
      --stasharr-color-red,
      --stasharr-color-white
    );
  }

  &-searchable {
    @include mixins.button-variant(
      --stasharr-color-yellow,
      --stasharr-color-black
    );
  }

  &-downloaded {
    @include mixins.button-variant(
      --stasharr-color-green,
      --stasharr-color-white
    );
  }

  &-loading {
    @include mixins.button-variant(
      --stasharr-color-gray,
      --stasharr-color-white
    );
  }
}

// Specific styles for card buttons
.stasharr-card-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10%; // Overrides default radius
  padding: 5px; // Overrides default padding
}

.stasharr-studio-add,
.stasharr-performer-add {
  color: var(--stasharr-color-pink);
}
