.stashIcon {
  background-image: url('https://raw.githubusercontent.com/stashapp/stash/refs/heads/master/ui/v2.5/public/favicon.ico');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
